#  Local .terraform directories
**/.terraform/*
**/*.secret
**/*-run
**/.DS_Store
**/*.json

# Compiled files
*.tfstate
*.tfstate.backup
*.terraform.*
*.tfvars
*.txt
*.json

# Module directory
.terraform/
.terraform*
.vscode
.DS_Store
